body .navbar-inverse {
	background-color: #01A2A6;
}

#navigation li a {
	background-color: #01A2A6;
	color: white;
}

#navigation li a:hover {
	background-color: #29D9C2;
}

#navigation li.active a {
	background-color: #29D9C2;
}


@font-face{
	font-family: WeblysThin;
	src: url('weblysleekuisl.ttf');
}


@font-face{
	font-family: SweetlyBroken;
	src: url('SweetlyBroken.ttf');
}

div p .lead{
	font-family: WeblysThin;
	font-size: 15px;
	font-weight: 100;
}

div .page-header {
	/* border-bottom: none; */
	padding-bottom: 0px;
	margin-top: 20px;
}


#currentnav li.active a{
	background-color: #01A2A6;
}

#currentnav li a{
	color: #2F2933;
}


div.col-md-3 img.img-centre {
 	display: block;
 	margin: 0 auto;
	margin-top: 4.5em;}


div.col-md-3 h4.text-centre {
 text-align: center;
	
}

.logo-container{
	display:flex;	
	align-items:center;
}

.post {
	margin-top: 2.5em;
	margin-bottom: 2.5em;
}


/*----------------------*/
/*navbar*/
/*----------------------*/

#navbar {
	margin-bottom: 0px;
}

/*----------------------*/
/*footer*/
/*----------------------*/

#footer {
	margin-bottom: 0px;
}

/*----------------------*/
/*carousel*/
/*----------------------*/

#mycarousel {
	margin: 0px;
}

.carousel-inner div img {
	width: 100%;
}


/*---------------------*/
/*Cartodreams*/
/*---------------------*/

#cartodreams-button{
	background-color: #01A2A6;
	border-width: 0px;
	border-radius: 10px;
	padding: 14px;
	float: right;
}

#cartodreams-button:hover{
	background-color: #29D9C2;
}

.cartodreams-preview {
	margin-bottom: 10em;
}

div .page-header {
	margin-top: 100px;
	margin-bottom: 100px;
}

/*----------------------*/
/*media*/
/*----------------------*/

@media (min-width: 922px) {
	.div-logo {
		visibility: visible;
		margin-top: 40px;
	}
	.container {
		min-height: 825px;
	}
}

@media (min-width: 768px) and (max-width: 922px) {
	.div-logo {
		display: none;
	}
	.container {
		min-height: 510px;
	}

	#mycarousel {
		display: none;
	}
}

@media (max-width: 768px) {
	.div-logo {
		display: none;
	}
	#mycarousel {
		display: none;
	}
}
